
body{
  margin:0;
}

h1{
  margin-top: 0;
}

.top-container{
  background-color: #e0ece4;
  width: 200px;
  height: 200px;
  padding: 20px;
  border: solid 10px;
  border-color: black;

}

.middle-container{
  background-color: red;
  width: 200px;
  height: 200px;
  margin-left: 260px;
  border: solid 20px;
  border-color: black;
}

.bottom-container{
  background-color: blue;
  width: 200px;
  height: 200px;
  margin-left: 500px;
  border: solid 10px;
  border-color: black;
}
